<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369035094671-h92ou1lu36742pcehrn4vb815hhhgl38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369035094671-h92ou1lu36742pcehrn4vb815hhhgl38</string>
	<key>API_KEY</key>
	<string>AIzaSyBTDguv4jBzf40L_If0W7UbCFkkpWZ3vto</string>
	<key>GCM_SENDER_ID</key>
	<string>369035094671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.conference</string>
	<key>PROJECT_ID</key>
	<string>conference-app-c1b91</string>
	<key>STORAGE_BUCKET</key>
	<string>conference-app-c1b91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369035094671:ios:be5b39f25f2eedb6d89efa</string>
</dict>
</plist>